<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
	<div class="container w-50 text-center" style="margin-top: 150px;">
                <h3>Name- <%= user.username%></h3> 
                <h3>Email- <%=user.email%></h3>
                <h3>Address- <%=user.address %></h3>
                <a href="/<%=user._id%>/edit" class="btn btn-info form-control mb-2 w-50">Edit</a>
                <form action="/<%=user._id%>?_method=DELETE" method="POST">
                        <button  class="btn btn-danger form-control mb-2 w-50">Delete</button>	   
                </form>
                <a href="/secret" class="btn btn-success form-control w-50">Secret</a>
        </div>
</body>
</html>